/*----------------------------------------------------------------------------------------------
|
|   DAILY EQUIPMENT UPDATE STYLES START HERE
|   AUTHOR : RALPH TAN CERIACO
|	DATE : FEBRUARY 16, 2013
|
|
-----------------------------------------------------------------------------------------------*/

#deu-main-wrapper{
	background-color:#f2f2f2;
}

.float-right{
	float:right;
}

h1.deu-h1{
	display: block;
	margin:0px;
	padding:0px;
	font-size: 16px;
	font-family: "Helvetica";
	margin:0px auto;
	text-align: center;
	color:#666;
	border-bottom:3px solid #666;
	font-weight: bolder;
}


.deu-table{
	width:100%;
	background-color: #f2f3f2;
	font-size: 10px;
	border-spacing: 0px!important;
	border-collapse: collapse;
	font-family: Arial, Helvetica, Tahoma, sans-serif !important;
	padding:3px;
}

.deu-table tr#heading{
	background-color: #3F82C8;
	color:#fff;
	font-size: 10px;
	text-transform: uppercase;
}

.deu-table tr.items{
	padding:0px;
	background-color: #f8F8F8;
	border-bottom:1px solid #999999;
	height:50px;
	font-weight: bold;
}



.deu-table tr.items td{
	padding:3px;
	padding-top:5px;
	text-transform: uppercase;
}

.deu-altcol{
	background-color: #efeff0;
}

.rep-stats-complete{
	background-color: #ccffcc!important;
}

.rep-stats-pending{
	background-color: #ffcccc;
}

#edit-perc{
	width:30px;
	text-align: center;
	margin:2px;
	font-size: 10px;
}

#edit-exdetails{
	width:250px;
	height:30px;
	resize:none;
	margin:2px;
	font-size: 12px;
}

#edit-dateout,#edit-timeout{
	width:70px;
	text-align: center;
	margin:2px;
	font-size: 10px;
}

#edit-timeout{
	width:55px;
	text-align: center;
	margin:2px;
	font-size: 10px;
	padding:1px;
}

#edit-mech{
	width:100px;
	text-align: center;
	margin:2px;
	font-size: 10px;
}

.deu-maint-updatebut {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:9px;
	font-weight:bold;
	padding:2px 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}
.deu-maint-updatebut:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}
.deu-maint-updatebut:active {
	position:relative;
	top:1px;
}

.deumaint-short{
	width:60px;
	font-size: 10px!important;
	text-align: center;
	margin:1px 0px;
}
.deumaint-veryshort{
	width:40px;
	font-size: 10px!important;
	text-align: center;
}

.deumaint-details{
	width:90%;
}

/* ------------------------------------------------------------------ */

.addrepair-wrapper-half{
	float:left;
	width:466px;
	height:auto;
	margin:2px;
}


#addrepair-wrapper-whole{
	float:left;
	width:936px;
	height:auto;
	margin:2px;
}

#addrepair-submitbutton{
	display: block;
	margin:0px auto;
	padding:10px;
	font-size: 14px;
	font-weight: bold;
	background: rgb(230,240,163); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,240,163,1)), color-stop(50%,rgba(210,230,56,1)), color-stop(51%,rgba(195,216,37,1)), color-stop(100%,rgba(219,240,67,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */

}



div.fields-wrapper{
	margin:10px;
	padding:3px;
	background-color: #e1e1e1; 
	font-family: "Verdana";
}

div.fields-wrapper label{
	display: inline-block;
	width:100px;
	text-align: right;
	font-size: 14px;
}

div.fields-wrapper label#add-details-updates{
	width:210px;
}

div.fields-wrapper select,div.fields-wrapper input{
	display: inline-block;
	width:200px;
	font-size: 14px;
	padding:2px;
}

div.fields-wrapper select.time{
	width:100px;
}

div.fields-wrapper input.long{
	width:800px;
}

div.fields-wrapper input.medium{
	width:690px;
}

div.fields-wrapper input.short{
	width:50px;
	text-align: center;
}

div.fields-wrapper textarea{
	width:600px;
	margin-left: 107px;
	resize:none;
	height:50px;
	margin-bottom:10px;
}

#scopespacer{
	display: inline-block;
	width:50px;
}
.addrepair-check{
	width:auto!important;
	margin-left:20px;
}
label.checkboxlabels{
	display: inline-block;
	width:auto!important;
	font-size: 12px!important;
	text-align:left!important;
}

.widelabels{
	display: inline-block;
	width:100px;
	text-align: left;
	height:auto;
}

#submitlol{
	display: block;
	width:100px;
	padding:5px;
	background-color: #4A8CF7;
	margin:10px auto;
	text-align: center;
}

#deu-summary-wrapper{
	display:block;
	width:930px;
	height:auto;
	margin:20px auto;
	overflow: hidden;
}



#deu-summary-wrapper div.summarybox{
	float: left;
	width:300px;
	height:auto;
	margin:5px;
}

#deu-summary-wrapper div.summarybox h2{
	padding:5px;
	
	margin:0px;
	font-size: 16px;
	margin:1px;
	text-align: center;
	color: #333;
}

#deu-summary-tbl{
	width:95%;
	border-collapse: collapse;
	font-size: 12px;
	margin:5px auto;
}

#deu-summary-tbl tr#heading{
	background-color: #3F82C8;
	color:#ffffff;
	height:30px;

}

#deu-summary-tbl tr.items{
	background-color: #F8F8F8;
	border-bottom:1px solid #666;
	font-weight: bold;
}

#deu-summary-tbl tr.items#pi{
	font-size: 41px;
	
}

#deu-summary-tbl tr.items td.alt{
	background-color: #EFEFF0;
	
}

#deu-summary-wrapper{
	background-color: #E7E6E7;
}
#perfrep-button-wrapper{
	display: block;
	height:80px;
}

/*	performance report for DEU	*/
.perfrep-button {
	float: right;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:18px;
	font-weight:bold;
	padding:13px 16px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffffff;
}

.perfrep-button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

.perfrep-button:active {
	position:relative;
	top:1px;
}

/* search button styling */
.search-wrapper
	{
		width: auto;
		padding:10px;
		margin-bottom:50px;
		background: url('images/diagonal.png');
		overflow: hidden;
	}
.search-button,#addunit-button,#perfrep-searchbutton
	{
		-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
		-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
		box-shadow:inset 0px 1px 0px 0px #bee2f9;
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #63b8ee), color-stop(1, #468ccf) );
		background:-moz-linear-gradient( center top, #63b8ee 5%, #468ccf 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#63b8ee', endColorstr='#468ccf');
		background-color:#63b8ee;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #3866a3;
		display:inline-block;
		color:#14396a;
		font-family:Arial;
		font-size:14px;
		font-weight:bold;
		padding:6px 12px;
		text-decoration:none;
		text-shadow:1px 1px 0px #7cacde;
	}
.search-button:hover,#addunit-button:hover,#perfrep-searchbutton:hover
	{
		background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #468ccf), color-stop(1, #63b8ee) );
		background:-moz-linear-gradient( center top, #468ccf 5%, #63b8ee 100% );
		filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#468ccf', endColorstr='#63b8ee');
		background-color:#468ccf;
	}
.search-button:active,#addunit-button:active,#perfrep-searchbutton:active
	{
		position:relative;
		top:1px;
	}

	/*	Unit list styles  */
	#unitlist-wrapper{

	}
	.unitlist-containers{
		width:178px;
		height: auto;
		margin:1px 5px;
		margin-top:0px!important;
		display: inline-block; 
		background-color: #666666;
	}
	.unitlist-containers h2{
		margin:0px;
		padding:0px;
	}

	li.unitlist-itemcont{
		margin:1px;
		padding:5px;
		list-style: none;
		font-size: 10px;
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		color:#026A98;
	}

	li.unitlist-itemcont span{
		float:right;
	}

	li.unitlist-itemcont span a{
		text-decoration: none;
		color:#333;
	}
	li.unitlist-itemcont span a:hover{
		background-color:#3F82C8;
		padding:2px;
		color:#FFFFFF;
	}

	.edit-unit-wrapper{
		position:relative;
	}

	.edit-unit-container
	{  
	    position:absolute;
		top:-10px;
		left:50px;
	    width: 300px;  
	    height: auto;   
	    background-color: #3F82C8;  
	    border: 1px solid #666;  
	    margin-left:100px;
	    margin-top:10px;
	    color:#fff;

	} 

	.edit-unit-container:before  
	{  
	    content: ' ';  
	    position: absolute;  
	    width: 0;  
	    height: 0;  
	    left: 40px;  
	    top: -15px;  
	    border: 7px solid;  
	    border-color: transparent transparent #666 transparent;  
	} 

	.edit-unit-container:after 
	{  
	    content: ' ';  
	    position: absolute;  
	    width: 0;  
	    height: 0;  
	    left: 40px;  
	    top: -14px;  
	    border: 7px solid;  
	    border-color: transparent transparent #3F82C8 transparent;  
	}

	#addunitforms-container{
		float:left;
		width:600px;
		height:300px;
	}

	#imageupload-container{
		float:left;
		width:314px;
		height:300px;
		border:3px dashed #ccc;
	}
	#imageupload-container img{
		margin: 10px 8px;
	}

	#addunitforms-container div.items{
		display: block;
		padding:5px;
		font-size: 12px;
	}

	#addunitforms-container div.items label{
		display: inline-block;
		width: 90px;
		text-align:right;
		font-size: 14px;
		color: #333;
		margin-right: 10px;
	}

	#addunitforms-container div.items input#unitbox-desc{
		width: 422px;
		margin-left: 2px;
	}

	#addbutton-wrapper{
		padding:10px;
		margin:10px 0px;
	}

	#addbutton-wrapper input#addunit-button{
		display:block;
		margin:0px auto;
	}

	#deu-browseupload{
		display: none;
	}

	/*	unitcode hover	*/
	a.unitcode{
		text-decoration: none;
		color:#4A8BF6;
	}

	a.unitcode:hover{
		padding:5px;
		background-color:#333;
		color:#fff;
	}
	

	/* styles for the performance report table */
	div.tbl-horitems{
		display: block;
		width:100%;
		height:auto;
		margin-top:1px;
	}

	div.tbl-horitems p{
		margin:0px;
		padding:0px;
		padding:2px;
		font-size: 10px;
		text-align: center;
	}

	div.tbl-horitems p span{
		margin-left:20px;
	}

	.altrapoy{
		background-color:#E6E6E6;
	}

	.perfrep-tbltd{
		padding:0px!important;
	}

	#perfrep-printheader{
		display:none;
	}

	#monthlyrep-printheader,#searchhistory-printheader,#equiplist-printheader{
		display:none;
	}